streamlit
gTTS
pydub
numpy
imageio-ffmpeg
matplotlib
ipython
math
csv            # [추가] CSV 기록용
shutil         # [추가] 파일 복사용
datetime
torch
torchaudio
soundfile
edge-tts==7.2.1
nest-asyncio
pyloudnorm